<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>用户列表</title>
</head>
<body>
<H1>-----------用户展示列表-----------</H1>
<div th:if="${userList}">
    <tr th:each="user : ${userList}">
        ID:<td th:text="${user.id}"></td>
        USERNAME:<td th:text="${user.username}"></td>
        PWD:<td th:text="${user.password}"></td><br/>
    </tr>
</div>


</body>
</html>